<form [formGroup]="service.form" class="normal-form" (submit)="onSubmit()">
    <mat-grid-list cols="1" rowHeight="300px"></mat-grid-list>
    <mat-grid-tile>
        <div class="controles-container">
            <input type="hidden" formControlName="$key">
            <mat-form-field>
                <input formControlName="nama_depan" matInput placeholder="Nama Depan">
            </mat-form-field>
            <mat-form-field>
                <input formControlName="nama_belakang" matInput placeholder="Nama Belakang">
            </mat-form-field>
            <mat-form-field>
                <input formControlName="username" matInput placeholder="Username">
            </mat-form-field>
            <mat-form-field>
                <input formControlName="email" matInput placeholder="E-mail">
            </mat-form-field>
            <mat-form-field>
                <input formControlName="password" matInput placeholder="Password">
            </mat-form-field>
            <div class="buttton-row">
                <button mat-raised-button color="primary" type="submit">Submit</button>
            </div>
        </div>
        
    </mat-grid-tile>
</form>